@import '../constants.scss';

.container {
    position: relative;
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid $light-grey;

    div { 
        display: inline-block;
    }

    img {
        width: 84px;
    }

    .title-section {
        top: 32px;
        position: absolute;
        padding-left: 20px;
    }

    .change-btn {
        color: $positive-light;
        right: 0;
        font-weight: 500;
        font-size: 20px;
        float: right;
        padding-top: 30px;
        padding-right: 10px;
    }
}